# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# --- Виртуальное окружение ---
.venv/
env/
venv/

# --- IDE и редакторы ---
.vscode/
.idea/

# --- Операционная система ---
.DS_Store
Thumbs.db

# --- Файлы данных ---
*.db
*.sqlite
*.sqlite3

# --- Конфиги с секретами ---
.env

# --- PDF и временные файлы ---
*.pdf
*.tmp
*.bak