BOT_TOKEN=PASTE_YOUR_PREPOD_TOKEN
TZ=Europe/Moscow
# При желании можно явно указать БД:
# DB_PATH=/app/shared/test_answers.db
# TESTS_DB_EGE=/app/shared/test_ege.db
# TESTS_DB_OGE=/app/shared/test_oge.db
# TESTS_DB_TEACHER=/app/shared/test_teacher.db
# USERS_DB=/app/shared/users.db
# CALENDAR_DB=/app/shared/calendar.db
# FONTS_DIR=/app/shared/Fonts

